# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
*.log.*

# OS and editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak
*.tmp

# Environment files
.env
.env.*

# Frontend build files
/frontend/build/
/frontend/node_modules/
